*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:$bgrbody;
    margin-top:10px;
}
.container{
    max-width:$maxwidth;
    margin:0px auto;
}