@import './variables.scss';
@import './reset.scss';

.information{
    width:375px;
    background-color:$bgrinfor;
    position:relative;
    &__logo{
        position: absolute;
            top:0;
            right:0;
    }
    &__img{
        margin-bottom:12px;
    }
    &__title{
        padding:0 15px 10px;
        >p{
            color:$colorp;
            font-weight: bold;
font-size: 18px;
line-height: 129%;
        }
    }
    &__link{
        font-size:15px;
        font-style:italic;
        color:$colorlink;
        padding:0 0 18px 15px;
        a{
            color:$colora;
            font-style:normal;
            font-weight:700;
            text-decoration:none;
        }
    }

}